body {
	font-family: Helvetica;
}

.pokemon-listed {
	height: 100%;
	width: 100%;
}

.pokemon-single {
	border: 1px solid black;
	border-radius: 5px;
	width: 150px;
	float: left;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 5px;
	padding: 10px;
	text-align: center;
	overflow: hidden;
}

.overlay {
	background:rgba(0,0,0,.75);
  text-align:center;
  opacity:0;
  -webkit-transition: opacity .25s ease;
}

.pokemon-single:hover .overlay {
  opacity:1;
}

.pokedex {
	font-family:Helvetica;
  font-weight:900;
  color:rgba(255,255,255,.85);
  font-size:65px;
}
